<section>
    <div class="stats">
        <h2 class="stats__caption  visually-hidden">Achievements</h2>
        <div class="stats__item">
            <strong class="js-stats__key-1 stats__key">432</strong>
            <p class="stats__value">Project</p>
        </div>
        <div class="stats__item">
            <strong class="js-stats__key-2 stats__key">86</strong>
            <p class="stats__value">Clients</p>
        </div>
        <div class="stats__item">
            <strong class="js-stats__key-3 stats__key">856</strong>
            <p class="stats__value">Best Shot</p>
        </div>
        <div class="stats__item">
            <strong class="js-stats__key-4 stats__key">25</strong>
            <p class="stats__value">New Brand</p>
        </div>
    </div>
</section>
