<section>
    <div class="promo">
        <div class="promo__container">
            <h4 class="promo__subtitle">Album</h4>
            <h3 class="promo__title">Nature</h3>
            <p class="promo__description">Themespond is a fashion product selling online website. With the missionto bring the utility in purchasing for customer, we is offering  over 4 million products from more than 20 different brands. There are alteration in some formdomised words lievable. Themespond is a fashion product selling online website...</p>
            <a class="btn btn--modify" href="#">View album &rarr;</a>
        </div>
        <div class="promo-gallery">
            <img src="../img/nature-bird.jpg" class="promo-gallery__item" alt="Gallery item">
            <img src="../img/nature-butterfly.jpeg" class="promo-gallery__item" alt="Gallery item">
            <img src="../img/nature-sea.jpeg" class="promo-gallery__item" alt="Gallery item">
            <img src="../img/nature-bird-crane.jpeg" class="promo-gallery__item" alt="Gallery item">
        </div>
    </div>
    <div class="promo  promo--right">
        <div class="promo__container">
            <h2 class="advertisement__caption  visually-hidden">Advertisement</h2>
            <h4 class="promo__subtitle">Album</h4>
            <h3 class="promo__title">Furniture</h3>
            <p class="promo__description">Themespond is a fashion product selling online website. With the missionto bring the utility in purchasing for customer, we is offering  over 4 million products from more than 20 different brands. There are alteration in some formdomised words lievable. Themespond is a fashion product selling online website...</p>
            <a class="btn btn--modify btn--reverse" href="#">View album &rarr;</a>
        </div>
        <div class="promo-gallery  promo-gallery--right">
            <img src="../img/furniture-green-chair.jpeg" class="promo-gallery__item  promo-gallery__item--right" alt="Gallery item">
            <img src="../img/furniture-laptop.jpeg" class="promo-gallery__item  promo-gallery__item--right" alt="Gallery item">
            <img src="../img/furniture-sofa.jpeg" class="promo-gallery__item  promo-gallery__item--right" alt="Gallery item">
            <img src="../img/furniture-white-table.jpeg" class="promo-gallery__item  promo-gallery__item--right" alt="Gallery item">
        </div>
    </div>
</section>
