<section>
  <div class="feature">
    <div class="feature__rectangle"></div>
    <h2 class="feature__title">Products <strong>photography</strong> package!</h2>
    <p class="feature__text">You never trust the quality of something with attractive appearance? How does it feel to be both highly stunning and highly intelligent? Pretty much powerful and Authoritative. Absolutely trustful. That's the attributes you needed for your  blog to spread your stories and projects. And that's what Bistort is all about.</p>
    <a class="btn" href="#">Click Join !</a>
  </div>
</section>
