<footer class="footer">
  <address>
        <p class="footer__address">732/21 Second Street, Manchester, King Street, Kingston United Kingdom</p>
        <p><a class="footer__phone" href="tel:(36)456-6578-234">(36)456-6578-234</a></p>
        <p><a class="footer__email" href="mailto:support@bistort.com">support@bistort.com</a></p>
   </address>
        <div class="social">
                <div class="social-links">
                    <a class="social-link social-link--fb" href="#"><img src="../img/facebook.png"  width="10" height="16" alt="facebook"></a>
                    <a class="social-link social-link--tw" href="#"><img src="../img/twitter.png" width="14" height="12" alt="twitter"></a>
                    <a class="social-link social-link--periscope" href="#"><img src="../img/periscope.png" width="12" height="15" alt="periscope"></a>
                    <a class="social-link social-link--google" href="#"><img src="../img/google.png" width="21" height="15" alt="google"></a>
                    <a class="social-link social-link--inst" href="#"><img src="../img/instagram.png" width="15" height="15" alt="instagram"></a>
                </div>
        </div>
        <div class="footer__bar"></div>
        <p class="footer__copyright">&copy; Copyright 2016 by Themespond</p>
</footer>
