<header class="header">
    <a href="#" class="header__logo"></a>
    <nav class="page-nav">
        <div class="page-nav__toggle">
            <div class="page-nav__bar"></div>
            <div class="page-nav__bar"></div>
            <div class="page-nav__bar"></div>
        </div>
        <ul class="page-nav__list">
            <li class="page-nav__item  page-nav__item--active">
                <a href="#">Home</a>
            </li>
            <li class="page-nav__item">
                <a href="#">Portfolio</a>
            </li>
            <li class="page-nav__item">
                <a href="#">Galleries</a>
            <li class="page-nav__item">
                <a href="#">Blog</a>
            </li>
            <li class="page-nav__item">
                <a href="#">Contacts</a>
            </li>
        </ul>
    </nav>
</header>
