<section>
    <div class=" portfolio">
        <h2 class="portfolio__title">My portfolio</h2>
        <p class="portfolio__text">Contrary to popular belief, Lorem ipsum is not simple random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <div class="portfolio__list">
            <div class="portfolio__item">
                <div class="portfolio__img portfolio__img-1">
                    <div class="portfolio__date-box">
                        <p class="portfolio__date"><time datetime="2016-11-15"></time>15<br>November</p>
                    </div>
                </div>
                <p class="portfolio__description">Albus flora Cosmetics show all picture</p>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__img portfolio__img-2">
                    <div class="portfolio__date-box">
                        <p class="portfolio__date"><time datetime="2016-11-28"></time>28<br>November</p>
                    </div>
                </div>
                <p class="portfolio__description">Fresh Food Galleries show all picture</p>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__img portfolio__img-3">
                    <div class="portfolio__date-box">
                        <p class="portfolio__date"><time datetime="2016-10-14"></time>14<br>October</p>
                    </div>
                </div>
                <p class="portfolio__description">Face Food Cosmetics show all picture</p>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__img portfolio__img-4">
                    <div class="portfolio__date-box">
                        <p class="portfolio__date"><time datetime="2016-12-20"></time>20<br>December</p>
                    </div>
                </div>
                <p class="portfolio__description">Handbag fashion Lookbook Tous</p>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__img portfolio__img-5">
                    <div class="portfolio__date-box">
                        <p class="portfolio__date"><time datetime="2016-12-05"></time>05<br>December</p>
                    </div>
                </div>
                <p class="portfolio__description">Bizze Florida Corporate Event Photographers</p>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__img portfolio__img-6">
                    <div class="portfolio__date-box">
                        <p class="portfolio__date"><time datetime="2016-08-21"></time>21<br>August</p>
                    </div>
                </div>
                <p class="portfolio__description">Biciu piencas Products handmade Galleries</p>
            </div>
        </div>
    </div>
</section>
