<section>
    <div class="slider">
        <h2 class="visually-hidden">Slider</h2>
        <ul class="slider-items">
            <li class="slider__item-1"><img class="slider__image" src="../img/baloons.jpg" alt="first-photo"></li>
            <li class="slider__item-2"><img class="slider__image" src="../img/people.jpg" alt="second-photo"></li>
            <li class="slider__item-3"><img class="slider__image" src="../img/geography.jpg" alt="third-photo"></li>
            <li class="slider__item-4"><img class="slider__image" src="../img/sky.jpg" alt="fourth-photo"></li>
        </ul>
        <div class="slider-bullets">
            <label class="btn-nav slider-bullet-1 active" data-index="0">
                <span class="slider-bullet__item-1"></span>
            </label>
            <label class="btn-nav slider-bullet-2" data-index="1">
                <span class="slider-bullet__item-2"></span>
            </label>
            <label class="btn-nav slider-bullet-3" data-index="2">
                <span class="slider-bullet__item-3"></span>
            </label>
            <label class="btn-nav slider-bullet-4" data-index="3">
                <span class="slider-bullet__item-4"></span>
            </label>
        </div>
    </div>
</section>
